table, th, td {
	background-color:#0070c0;
	color: #001450;
}
td {
	height:20px;
	min-width:20px;
}

/* For Michael's work */
#menupage {
    height: 100%;
    margin:  0;
    padding:  0;
    background-image: url("background2.png");
    background-size:  cover;
    background-repeat:  no-repeat;
    color: #fff;
    position:absolute;
}
#menuContainer{
    z-index: 99;
}
#header{
    position: relative;
    z-index: 99;
}
#content{
    position: relative;
    z-index: 99;   
}
#menu-button {
    display: block;
    margin:  0 10% 20px 10%;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 200px;
    display: block;
    z-index: 9999;
}

#popup-title {
    text-align: center;
}



#score-rank {
    display: block;
}

#high-score {
    display: inline;
    float: right;
    clear: right;
    z-index: 1;
}

.game-panel {
    width: 90%;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

.panel {
    background-color: #808080;
}

#game-screen {
    margin: 0 auto;
}

.spaceDog{
    visibility: hidden;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image:url("dogspace.png");
    background-size: cover;
    margin:-100px 0px 0px -100px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/*twinkling stars*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
#menupage, #twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  
}

#menupage {
  background:#000 
  url(background2.png)
   repeat top center;
  z-index:0;
}

#twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:0.1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
#grid{
    position: relative;
    opacity: 0.9;
}
#gameover{
    position: relative;
    
}
#clear{
    position: relative;
    
}
#footer{
    position: relative;
    
}

#clear, #gameover {
    text-align: center;
}